<%= render 'layouts/title_bar' %>
<div class="row">
	<div class="col-xs-12">
		<%= render 'layouts/nav' %>

	</div>
</div>

<div class="row">

	<!-- 左サイド、タスクリスト -->
	<div class="col-xs-6 schedule-box">
		<h3 class="align-center">スケジュールされたタスク</h3>
		<% @schedule_items.each do |schedule_item| %>
			<%= render 'layouts/task_item', item: schedule_item %>
		<% end %>
		<div class="row">
			<div class="col-xs-6">
				タスク：<%= @schedule_items.count %>件
			</div>
			<div class="col-xs-6 align-right">
				所要時間：<%= @schedule_items.required_time %>分
			</div>
		</div>
	</div>

	<!-- 右サイド、ボタンリスト -->
	<div class="col-xs-6">
		<div class="row">
			<%= link_to '', "開始する" %>
		</div>
		<div class="row">
			<%= link_to '', "登録済みのタスクから追加" %>
		</div>
		<div class="row">
			<%= link_to '', "新規タスク作成" %>
		</div>
	</div>

</div>
